
%font-main {
  font-family: 'Roboto', Verdana, sans-serif;
}

%font-add {
  font-family: 'Lato', Verdana, sans-serif;
}

%font-default {
  font-family: Arial, Helvetica, sans-serif;
}

%transition-hover {
  transition: all 0.4s ease;
}

%transition-active {
  transition: all 0.1s ease;
}

%transition-notes {
  transition: all 0.3s linear;
}
